.navbar {
  background-color: black;
  border-radius: 30px;
}

.navbar ul {
  overflow: auto;
}

.navbar li {
  float: left;
  list-style: none;
  margin: 13px 20px;
}

.navbar a {
  padding: 3px 3px;
  text-decoration: none;
  color: white;
}

.search {
  color: white;
  float: right;
  padding: 12px 75px;
}

.navbar input {
  border: 2px solid black;
  border-radius: 4px;
  padding: 3px;
}
