.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.profileSection {
  text-align: left;
  margin-left: 20px;
}

.profileSection h2 {
  font-size: 1.8rem;
  margin: 0;

  color: #f5f5f5;
  text-align: center;
}

.profileSection p {
  margin: 5px 0 0;
  font-size: 1rem;
  text-align: center;

  color: #e0e0e0;
}

.profileImage {
  margin-right: 20px;
}

.image {
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
